version: '3.8'
services:
  mysql:
    image: mysql:latest
    container_name: Attendance-Checking-System
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
