<div class="page-container" style="position: relative;">
  <div class="modules-info">
    <h1>Modules</h1>
  </div>

  <div class="functionRow">
    <input type="text" placeholder="Module name" style="width: 270px;" />
    
    <select>
      <option value="" disabled selected hidden>Semester</option>
      <option value="WS 2024">WS 2024</option>
      <!-- Add more options here -->
    </select>
    
    <input type="text" placeholder="Lecturer name" style="width: 270px;"/>

    <button class="functionButtons">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>      
      Search
    </button>
  </div>
  
  <div class="table-wrapper" >
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Module ID</th>
          <th>Module Name</th>
          <th>Semester</th>
          <th>Lecturer</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let module of modules; let i = index">  
          <td> {{ i + 1 }} </td>
          <td style="width: 144px;">{{ module.id }}</td>
          <td style="width: 270px;">{{ module.name }}</td>
          <td style="width: 144px;">{{ module.semester }}</td>
          <td style="width: 270px;">{{ module.lecturer }}</td>
          <td style="width: 144px;"> 
            <a class="nav-item" routerLink="/module-detail-student-view">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </a>           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

