<div class="page-container" style="position: relative;">
  <div class="modules-info">
    <h1>Modules</h1>
  </div>

  <div class="functionRow">
    <input type="text" 
           placeholder="Module name" 
           style="width: 270px;"
           [(ngModel)]="searchModuleName" />
    
    <select [(ngModel)]="searchSemester">
      <option value="" disabled selected hidden>Semester</option>
      <option *ngFor="let semester of semesters" [value]="semester">{{semester}}</option>
    </select>
    
    <input type="text" 
           placeholder="Lecturer name" 
           style="width: 270px;"
           [(ngModel)]="searchLecturer" />

    <button class="functionButtons" (click)="filterModules()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>      
      Search
    </button>

    <button class="functionButtons" (click)="resetFilters()" style="background-color: red;">    
      Reset
    </button>
  </div>
  
  <div *ngIf="isLoading" class="loading-message">
    Loading modules...
  </div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div class="table-wrapper" *ngIf="!isLoading && !error">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th style="width: 144px;">Module ID</th>
          <th style="width: 270px;">Module Name</th>
          <th style="width: 144px;">Semester</th>
          <th style="width: 270px;">Lecturer</th>
          <th style="width: 144px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let module of filteredModules; let i = index">  
          <td> {{ i + 1 }} </td>
          <td>{{ module.moduleId }}</td>
          <td>{{ module.moduleName }}</td>
          <td>{{ module.semesterId }}</td>
          <td>{{ module.lecturerName }}</td>
          <td> 
            <a class="nav-item" [routerLink]="['/module-detail-student', module.moduleId]">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </a>           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

