<div class="module-page">
    <h1>Module</h1>
    <div class="search-bar">
      <input type="text" placeholder="Module name" style="border-radius: 10px; border: 1px solid #ccc; margin-left: 20px; height: 40px;" />
  
   <!-- Program Select -->
   <div class="select-wrapper">
    <select>
      <option value="" disabled selected>Program</option>
      <option *ngFor="let program of programs" [value]="program">{{ program }}</option>
    </select>
    <button *ngIf="selectedProgram" class="clear-btn" (click)="clearSelection('program')">
    </button>
  </div>
  
  <!-- Semester Select -->
  <div class="select-wrapper">
    <select>
      <option value="" disabled selected>Semester</option>
      <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
    </select>
    <button *ngIf="selectedSemester" class="clear-btn" (click)="clearSelection('semester')">
    </button>
  </div>
  
  <!-- Lecturer Select -->
  <div class="select-wrapper">
    <select>
      <option value="" disabled selected>Lecturer</option>
      <option *ngFor="let lecturer of lecturers" [value]="lecturer">{{ lecturer }}</option>
    </select>
    <button *ngIf="selectedLecturer" class="clear-btn" (click)="clearSelection('lecturer')">
    </button>
  </div>
      <button class="search-btn" (click)="onSearch()">
        <i class="icon-search"></i> Search
      </button>
    </div>
  <div style="margin-left: 20px;">
    <app-action-table
      [columns]="columns"
      [data]="tableData"
      [showEditButton]="true"
      [showDeleteButton]="true"
      (edit)="onEditModule()"
      (delete)="onDelete($event)">
    </app-action-table>
</div>
  </div>
  