<div class="page-container">
  <!-- Header Section -->
  <div class="class-info">
    <h1>Theoretical Computer Science</h1>
    <div class="class-details">
      <div class="left-detail">
        <p>Semester: Winter 2024</p>
        <p>Exam Date: 8 December</p>
        <p>Duration: 8 September - 8 December</p>
      </div>

      <div class="right-detail">
        <p>Total number of students: 47</p>
        <p>Lecturers: Ngoc Tran Hong + ABC</p>
        <p>Module ID: TCS21</p>
      </div>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="tabs">
    <button
      class="tab"
      [class.active]="activeTab === 'classSchedule'"
      (click)="setActiveTab('classSchedule')"
    >
      Schedule
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'classMembers'"
      (click)="setActiveTab('classMembers')"
    >
      Members
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'moduleReport'"
      (click)="setActiveTab('moduleReport')"
    >
      Module report
    </button>

    <!-- Invite members -->
    <div class="invite-member">
      <button
        type="button"
        class="tab"
        data-toggle="modal"
        data-target="#inviteModal"
      >
        Invite
      </button>

      <!-- Modal content -->
      <div
        class="modal fade"
        id="inviteModal"
        role="dialog"
        aria-labelledby="inviteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Invite member</h3>
            </div>
            <div class="modal-body">
              <form>
                <label for="role">Role</label>
                <select id="role">
                  <option>Lecturer</option>
                  <option>Student</option>
                </select>

                <label for="fullName">Full name</label>
                <input type="text" id="fullName" value="Ngoc Tran Hong" />

                <label for="memberId">Member ID</label>
                <input type="text" id="memberId" value="14841" />

                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  value="ngoctranhong@vgu.edu.vn"
                />
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="send-btn">Send</button>
              <button type="button" class="cancel-btn" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Remove member -->
    <div class="remove-member">
      <button
        type="button"
        class="tab"
        data-toggle="modal"
        data-target="#removeModal"
      >
        Remove
      </button>

      <!-- Modal content -->
      <div
        class="modal fade"
        id="removeModal"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Remove member</h3>
            </div>
            <div class="modal-body">
              <form>
                <label for="role">Role</label>
                <select id="role">
                  <option>Lecturer</option>
                  <option>Student</option>
                </select>

                <label for="fullName">Full name</label>
                <input type="text" id="fullName" value="Ngoc Tran Hong" />

                <label for="memberId">Member ID</label>
                <input type="text" id="memberId" value="14841" />

                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  value="ngoctranhong@vgu.edu.vn"
                />
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="send-btn">Remove</button>
              <button class="cancel-btn" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Schedule tab -->
  <div *ngIf="activeTab === 'classSchedule'">
    <div class="row">
      <div class="col-md-5">
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Date</th>
              <th>Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of scheduleData; let i = index"
              [class.highlight]="i === 2"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.startTime }} - {{ item.endTime }}</td>

              <td class="action-buttons d-flex">
                <!-- view the class detail on specific day -->
                <button (click)="viewItem(item)">View</button>

                <!-- Edit the class detail on specific day -->
                <button (click)="editItem(item)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-7 border-left">
        <div class="class-details-container" *ngIf="selectedItem">
          <div class="header">
            <h1>Class detail</h1>
            <div class="class-info">
              <p>Date: {{ selectedItem?.date }}</p>
              <p>
                Time: {{ selectedItem?.startTime }} -
                {{ selectedItem?.endTime }}
              </p>
            </div>
          </div>

          <div class="content">
            <!-- Search bar -->
            <div class="search-container">
              <input type="number" placeholder="Search student ID" />
            </div>

            <!-- Attendance table -->
            <div class="table-wrapper">
              <table class="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Student name</th>
                    <th>Student ID</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of studentList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.id }}</td>
                    <td class="text-center">
                      <span
                        [class.present]="student.status === 'P'"
                        [class.absent]="student.status === 'A'"
                        class="status-badge"
                      >
                        {{ student.status }}
                      </span>
                    </td>
                    <td>
                      <div class="action-buttons">
                        <button
                          type="button"
                          class="tab"
                          data-toggle="modal"
                          data-target="#editModal"
                        >
                          Edit
                        </button>

                        <!-- Modal content -->
                        <div
                          class="modal fade"
                          id="editModal"
                          role="dialog"
                          aria-labelledby="editModalLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title" id="editModalLabel">
                                  Edit attendance
                                </h3>
                              </div>
                              <!-- <div class="modal-body">
                                <form>
                                  <label for="role">Role</label>
                                  <select id="role">
                                    <option>Lecturer</option>
                                    <option>Student</option>
                                  </select>

                                  <label for="fullName">Full name</label>
                                  <input
                                    type="text"
                                    id="fullName"
                                    value="Ngoc Tran Hong"
                                  />

                                  <label for="memberId">Member ID</label>
                                  <input
                                    type="text"
                                    id="memberId"
                                    value="14841"
                                  />

                                  <label for="email">Email</label>
                                  <input
                                    type="email"
                                    id="email"
                                    value="ngoctranhong@vgu.edu.vn"
                                  />
                                </form>
                              </div> -->
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <label for="studentId">Student ID</label>
                                    <input
                                      type="number"
                                      id="studentId"
                                      value=""
                                      class="form-control"
                                    />
                                  </div>

                                  <div class="form-group">
                                    <label for="program">Program</label>
                                    <select id="program" class="form-control">
                                      <option selected>CSE</option>
                                      <option>BBA</option>
                                      <option>MEN</option>
                                    </select>
                                  </div>

                                  <div class="form-group">
                                    <label for="status">Status</label>
                                    <select id="status" class="form-control">
                                      <option>Present</option>
                                      <option selected>Absent</option>
                                    </select>
                                  </div>

                                  <div class="form-group">
                                    <label for="reasons">Reasons</label>
                                    <select id="reasons" class="form-control">
                                      <option selected>False attendance</option>
                                      <option>Medical leave</option>
                                      <option>Other</option>
                                    </select>
                                  </div>
                                </form>
                              </div>

                              <div class="modal-footer">
                                <button type="submit" class="send-btn">
                                  Save
                                </button>
                                <button class="cancel-btn" data-dismiss="modal">
                                  Cancel
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Members tab  -->
  </div>
  <div *ngIf="activeTab === 'classMembers'">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Full name</th>
          <th>ID</th>
          <th>Role</th>
          <th>Final exam eligibility</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let member of memberList; let i = index"
          [class.highlight]="i === 2"
        >
          <td>{{ i }}</td>
          <td>{{ member.fullName }}</td>
          <td>{{ member.id }}</td>
          <td>{{ member.role }}</td>
          <td>{{ member.eligibility }}</td>
          <td class="action-buttons">
            <button (click)="viewItem(member)">View</button>
            <button (click)="editItem(member)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
