<div class="page-container">
  <div class="modules-info">
    <h1>Module Information</h1>
  </div>

  <div class="module-detail">

      <div class="form-group row">
        <div class="field">
          <label>Module Name:</label>
          <input type="text" [(ngModel)]="moduleName" style="width: 288px;" required/>
        </div>
        <div class="field">
          <label>Lecturer:</label>
          <select [(ngModel)]="selectedLecturer" style="width: 288px;" required>
            <option value="">Select a lecturer</option>
            <option *ngFor="let lecturer of lecturers" [value]="lecturer.staff_id">
              {{lecturer.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row" style="margin-top: 6px;">
        <div class="field">
          <label>Program:</label>
          <select [(ngModel)]="selectedProgram" required>
            <option value="">Select a program</option>
            <option *ngFor="let program of programs" [value]="program.program_id">
              {{program.name}}
            </option>
          </select>
        </div>
        <div class="field">
          <label>Semester:</label>
          <select [(ngModel)]="selectedSemester" required>
            <option value="">Select a semester</option>
            <option *ngFor="let semester of semesters" [value]="semester.sem_id">
              {{semester.name}}
            </option>
          </select>
        </div>
        <div class="field">
          <label>Intake:</label>
          <select [(ngModel)]="intake" required>
            <option value="">Select intake year</option>
            <option *ngFor="let year of intakes" [value]="year">{{year}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row" style="margin-top: 6px;">
        <div class="field">
          <label>Begin Date:</label>
          <input type="date" [(ngModel)]="beginDate" style="margin-right: 8px;" required/>
        </div>
        <div class="field">
          <label>End Date:</label>
          <input type="date" [(ngModel)]="endDate" style="margin-right: 8px;" required/>
        </div>
        <div class="field">
          <label>Exam Date:</label>
          <input type="date" [(ngModel)]="examDate" style="margin-right: 8px;" required/>
        </div>
      </div>

      <div class="buttons">
        <button (click)="createModule()" [disabled]="!validateForm()">Create</button>
      </div>
    
  </div>
</div>

