<div class="page-container">
  <!-- Header Section -->
  <div class="modules-info">
    <h1>Request detail</h1>
    <div class="request-details">
      <div class="left-detail">
        <p>ID: RE001</p>
        <p>Request Date: 10/09/2024 9:00</p>
        <p>Created By: Lecturer 1</p>
      </div>

      <div class="right-detail">
        <p>Program: CSE</p>
        <p>Module: Theoretical Computer Science</p>
        <p>Session: 09/09/2024 9:00 - 11:45</p>
      </div>
    </div>
  </div>

  <div class="class-details-container">
      <div class="functionRow">  
        <h4>Student Name: Student 1</h4>
        <h4> | </h4>
        <h4>Student ID: 14841</h4>
        <h4> | </h4>
        <h4>Intake: 2022</h4>
        <h4> | </h4>
        <h4>Request Date: 10/09/2024 10:30</h4>
      </div>
      <div class="image-container">
        <div class="image-row">
          <h3>Student Image</h3>
          <img src="../../../../assets/images/student-portrait.jpg" alt="Image 1" />
        </div>
        <div class="image-row">
          <h3>Class Camera</h3>
          <img src="../../../../assets/images/classroom.jpg" alt="Image 2" />
        </div>
        <div class="attendance-options">
          <label>
            <input type="radio" name="attendance" value="Absent" /> Absent
          </label>
          <label>
            <input type="radio" name="attendance" value="Present" /> Present
          </label>
          <button>
            Submit
          </button>
        </div>
      </div>  
  </div>
</div>
