<div class="page-container">
  <div class="login-box">
    <h1 class="system-title">VGU Attendance Management System</h1>
    <div class="login-form">
      <h2>Welcome back!</h2>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <button
          type="submit"
          routerLink="/module-view-admin"
          class="login-btn"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
