.login-container {
    display: flex;
    height: 100vh;
    background-image: url('../../assets/picture/vgu-1.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  }
  
  .login-left h2 {
    font-size: 40px;
    margin-bottom: 1rem;
  }
  
  .login-left form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .login-left form input {
    padding: 0.8rem; /* Điều chỉnh padding để phù hợp hơn */
    margin-top: 1.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px; /* Điều chỉnh font-size để phù hợp hơn */
    transition: border-color 0.3s;
  }
  
  .login-left form input::placeholder {
    color: #888;
  }
  
  .login-left form input:focus {
    border-bottom: 2px solid #4a90e2;
  }
  
  .login-left .btn {
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;
    border: none;
    border-radius: 30px; /* Giảm độ bo góc để hợp lý hơn */
    cursor: pointer;
    font-size: 18px; /* Điều chỉnh font-size để hợp lý hơn */
    color: #ffffff;
    background-color: #3700FF;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .login-left .btn:hover {
    background-color: #2c00d9;
  }
  
  .login-right {
    flex: 1;
  }
  