<div class="module-detail">
    <h1>Module Detail</h1>
    <div style="margin-left: 20px">
      <div>Intake: 2024</div>
      <div>Semester: Winter Semester 2024</div>
      <div>Period: 2/8/2024 - 25/9/2024</div>
      <br /><br />
    </div>
    <div class="search">
      <input type="date" />
      <button (click)="searchAttendance()">Search</button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Attendance</th>
            <th>Request Checking Attendance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td>{{ row.date }}</td>
            <td>{{ row.time }}</td>
            <td>
              <span
                class="status"
                [style.background-color]="row.attendance.color"
              >
                {{ row.attendance.status }}
              </span>
            </td>
            <td>
              <button *ngIf="row.request" class="send-request-btn">
                {{ row.request }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-left: 20px">
      <br>
      <div>Total Present: 3/4</div>
      <div>Exam Eligible: Qualified</div>
    </div>
  </div>
  