<div class="page-container">
  <!-- Header Section -->
  <div class="class-info">
    <h1>Theoretical Computer Science</h1>
    <div class="class-details">
      <div class="left-detail">
        <p>Module ID: CS1</p>
        <p>Lecturer: Tran Hong Ngoc</p>
        <p>Semester: WS 2024</p>
      </div>

      <div class="right-detail">
        <p>Duration: September 9th - December 9th</p>
        <p>Exam Date: December 18th</p>
        <p>Total number of students: 4</p>
      </div>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="tabs">
    <button
      class="tab"
      [class.active]="activeTab === 'classSessions'"
      (click)="setActiveTab('classSessions')"
    >
      <h3>Sessions</h3>
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'classStudents'"
      (click)="setActiveTab('classStudents')"
    >
      <h3>Students</h3>
    </button>
    <button
      class="tab"
      [class.active]="activeTab === 'classAttendance'"
      (click)="setActiveTab('classAttendance')"
    >
      <h3>Attendance</h3>
    </button>
  </div>
  
  <!-- Schedule tab -->
  <div *ngIf="activeTab === 'classSessions'">
    <div class="functionRow">  
      <button
        class="functionButtons"
        data-toggle="modal" 
        data-target="#addModalSession"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
          <path strokeLinecap="round" strokeLinejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Sessions
      </button>
    </div>
    <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let session of classSessions; let i = index"
                [class.highlight]="i === 2"
              >
                <td>{{ i + 1 }}</td>
                <td style="width: 160px;">{{ session.date }}</td>
                <td style="width: 160px;">{{ session.startTime }} - {{ session.endTime }}</td>
                <td style="width: 144px;"> 
                  <a class="nav-item" routerLink="false ? 'inspection' : undefined" data-toggle="modal" data-target="#editModalSession">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                      <path strokeLinecap="round" strokeLinejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  </a>
                  <a class="nav-item" routerLink="false ? 'inspection' : undefined" data-toggle="modal" data-target="#deleteModalSession">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                      <path strokeLinecap="round" strokeLinejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                  </a>           
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

  <!-- Members tab  -->
  <div *ngIf="activeTab === 'classStudents'">
    <div class="functionRow">
      <input type="text" placeholder="Student ID" style="min-height: 48px; width: 220px; margin-bottom: 0px; margin-right: 20px;" />
      <button
        class="functionButtons"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
          <path strokeLinecap="round" strokeLinejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
        Search
      </button>
      <button
        class="functionButtons"
        data-toggle="modal" 
        data-target="#inviteModalStudent"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
          <path strokeLinecap="round" strokeLinejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
        </svg>
        Invite
      </button>
      <button
        class="functionButtons"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
          <path strokeLinecap="round" strokeLinejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
        Export CSV
      </button>
    </div>  
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>ID</th>
            <th>Full Name</th>
            <th>Intake</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let student of classStudents; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td style="width: 160px;">{{ student.id }}</td>
            <td style="width: 270px;">{{ student.fullName }}</td>
            <td style="width: 160px;">{{ student.intake }}</td>
            <td style="width: 144px;"> 
              <a class="nav-item" routerLink="false ? 'inspection' : undefined" data-toggle="modal" data-target="#deleteModalStudent">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                  <path strokeLinecap="round" strokeLinejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              </a>         
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="class-details-container">
    <div *ngIf="activeTab === 'classAttendance'">
      <div class="functionRow">  
        <button
          class="functionButtons"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
          Export CSV
        </button>
      </div>
      <div class="table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>No.</th>
              <th>ID</th>
              <th>Full Name</th>
              <th>Intake</th>
              <th>Att. %</th>
              <th>Exam Eligibility</th>
              <th *ngFor="let session of classSessions" style="max-width: 160px;">
                {{ session.date }} {{ session.startTime }} - {{ session.endTime }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of classStudents; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="min-width: 160px;">{{ student.id }}</td>
              <td style="min-width: 270px;">{{ student.fullName }}</td>
              <td style="min-width: 160px;">{{ student.intake }}</td>
              <td style="min-width: 160px;">{{ student.attendancePercent }}</td> 
              <td style="min-width: 270px;">{{ student.eligibility }}</td> 
              <td style="min-width: 160px;" class="text-center" *ngFor="let attendance of classAttendance">
                  <span
                    [class.present]="attendance.status === 'P'"
                    [class.absent]="attendance.status === 'A'"
                    class="status-badge"
                  >
                    {{ attendance.status }}
                  </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

      <div
        class="modal fade"
        id="deleteModalSession"
        role="dialog"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" style="font-size: 18px; margin-left: 120px;" >Warning</h3>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this session?</p>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="submit" class="delete-btn">Delete</button>
              <button type="button" class="cancel-btn-delete-form" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="deleteModalStudent"
        role="dialog"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" style="font-size: 18px; margin-left: 120px;" >Warning</h3>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to remove this student?</p>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="submit" class="delete-btn">Delete</button>
              <button type="button" class="cancel-btn-delete-form" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="inviteModalStudent"
        role="dialog"
        aria-labelledby="inviteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" style="font-size: 18px; margin-left: 42px;" >Invite Student</h3>
            </div>
            <div class="modal-body">
              <div class="field">
                <label>ID:</label>
                <input type="text" style="width:100%;"/>
              </div>
              <div class="field">
                <label>Name:</label>
                <input type="text" style="width:100%;"/>
              </div>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="submit" class="send-btn">Invite</button>
              <button type="button" class="cancel-btn" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="addModalSession"
        role="dialog"
        aria-labelledby="addModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group row" style="margin-top: 6px;">
                <div class="field">
                  <label>Date:</label>
                  <input type="date" style="margin-right: 8px;"/>
                </div>
                <div class="field">
                  <label>Time:</label>
                  <input type="text" style="margin-right: 8px;"/>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="submit" class="send-btn">Add</button>
              <button type="button" class="cancel-btn" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="editModalSession"
        role="dialog"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group row" style="margin-top: 6px;">
                <div class="field">
                  <label>Date:</label>
                  <input type="date" style="margin-right: 8px;"/>
                </div>
                <div class="field">
                  <label>Time:</label>
                  <input type="text" style="margin-right: 8px;"/>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="submit" class="send-btn">Update</button>
              <button type="button" class="cancel-btn" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>