<div class="page-container">
  <div class="modules-info">
    <h1>Profile</h1>
  </div>

  <div class="row">
    <div class="col">
      <!-- Account details card-->
      <div class="mb-4 w-50">
        <form>
          <!-- Form Row-->
          <div class="mb-3">
            <!-- Form Group (email address)-->
            <label class="bold mb-1" for="inputFullName"
              >Full Name</label
            >
            <input
              style="width: 500px;"
              class="form-control"
              id="inputFullName"
              type="text"
              placeholder="Enter your name"
              value="Student 1"
            />
          </div>
          <div class="mb-3">
            <!-- Form Group (contact number)-->
            <label class="bold mb-1" for="inputPassword"
              >Password</label
            >
            <input
              style="width: 500px;"
              class="form-control"
              id="inputPassword"
              type="password"
              placeholder="Enter your password"
              value="*************"
            />
          </div>
          <div class="mb-3">
            <!-- Form Group (location)-->
            <label class="bold mb-1" for="inputEmail">Email</label>
            <input
              style="width: 500px;"
              class="form-control"
              id="inputEmail"
              type="text"
              placeholder="Enter your location"
              value="12345@student.vgu.edu.vn"
            />
          </div>

          <!-- Save changes button-->
          <div class="profile-edit-form">
            <button type="button">Save</button>
            <button type="button" style="background-color: #ee4b2b">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
