<div class="page-container">
  <div class="modules-info">
    <h1>Account Detail</h1>
  </div>

  <div class="module-detail">
    <div class="form-group row">
      <div class="field">
        <label>Account Name:</label>
        <input type="text" style="width: 288px;"/>
      </div>
      <div class="field">
        <label>Role:</label>
        <select style="width: 288px;">
          <option *ngFor="let lecturer of lecturers" [value]="lecturer">
            {{ lecturer }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row" style="margin-top: 6px;">
      <div class="field">
        <label>ID:</label>
        <input type="text"/>
      </div>
      <div class="field">
        <label>Intake:</label>
        <select>
          <option *ngFor="let int of intakes" [value]="int">{{ int }}</option>
        </select>
      </div>
      <div class="field">
        <label>Program:</label>
        <select>
          <option *ngFor="let prog of programs" [value]="prog">
            {{ prog }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="field">
        <label>Email:</label>
        <input type="text" style="width: 395px;"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="field">
        <label>Password:</label>
        <input type="text" style="width: 395px;"/>
      </div>
    </div>

      <div class="buttons">
        <button (click)="updateModule()">Update</button>
        <button (click)="deleteModule()" style="background-color: red;">Delete</button>
      </div>
    
  </div>
</div>

