<div class="request-page">
    <i class="fas fa-check-circle"></i>

    <h1>Request</h1>

    <div class="search-bar">
      <input type="text" placeholder="Request name" style="border-radius: 10px; border: 1px solid #ccc; margin-left: 20px" />
      <button class="search-btn" (click)="onSearch()">
        <i class="icon-search"></i> Search
      </button>
    </div>
    <div style="padding-left: 20px;">
    <app-action-table
      [columns]="columns"
      [data]="tableData"
      [showEditButton]="true"
      [showDeleteButton]="true"
      (edit)="onEditRequest()"
      (delete)="onDelete($event)">
    </app-action-table>
  </div>
</div>
  