.modules-info h1 {
  font-size: 80px;
  color: var(--vgu-dark-blue);
}

.modules-info h2 {
  font-size: 24px;
  color: var(--vgu-cool-gray);
}

/* Add styles for search filters */
.search-filters {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
